<div id="newform">
    <% if @errors %>
        <p id="error">Error/s when editing lens:</p>
        <% @errors.each do |error| %>
            <p id="error"><%= error %></p>
        <%end%><br />
    <% end %>
    <form action="/lens/<%= @len.id %>" method="post">
        
        <input type="hidden" name="_method" value="patch">  
        
        <label id="newtitle">Edit yout Lens</label><br /><br />
        <input type="hidden" name="len[user_id]" value="<%= current_user.id %>">

        <label for="newformlabel">Make:</label>
        <input id="newformlabel" type="text" name="len[make]" value="<%= @len.make %>"><br /><br />

        <label for="newformlabel">Model:</label>
        <input id="newformlabel" type="text" name="len[model]" value="<%= @len.model %>"><br /><br />

        <label for="newformlabel">Focal Range:</label>
        <input id="newformlabel" type="text" name="len[focal_range]" value="<%= @len.focal_range %>"><br /><br />

        <label for="newformlabel">Min. Aperture:</label>
        <input id="newformlabel" type="text" name="len[min_aperture]" value="<%= @len.min_aperture %>"><br /><br />

        <label for="newformlabel">Max. Aperture:</label>
        <input id="newformlabel" type="text" name="len[max_aperture]" value="<%= @len.max_aperture %>"><br /><br />

        <div id="selectcam">
            <p>Select Camera:</p>
        </div>
        <% current_user.cameras.all.each do |camera| %>
            <div id="radio">
                <input type="radio" name="len[camera_id]" id="<%= camera.id %>" value="<%= camera.id %>" <% if @len.camera_id == camera.id %>checked<% end %>><%= " #{camera.make} / Model: #{camera.model}"%><br>
            </div>
        <% end %><br>
        
        <div id="selectcam">
            <input id="logsign" type="submit" value="Edit Lens"><br /><br />
            <a href="/lens/index" id="showmenu">Back to Lenses</a>
        </div>
    </form>
</div>

