<div id="show">
    <h3 id="log"><%= "Model: #{@len.model}" %></h3><br />
    <p><%= "Make: #{@len.make}" %></p>
    <p><%= "Focal Range: #{@len.focal_range}" %></p><br />
    <p><%= "Minimum Aperture: F/#{@len.min_aperture}" %></p>
    <p><%= "Maximum Aperture: F/#{@len.max_aperture}" %></p><br /><br />
    <p><%= created_date_time(@len)[0] %></p>
    <p><%= updated_date_time(@len) %></p><br /><br />
    
    <form id="showmenu" method="POST" action="/lens/<%= @len.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a href="/lens/<%= @len.id %>/edit" id="showmenu">Edit Lens</a>
        <input id="delsubmit" type="submit" value="Delete Lens">
        <a href="/lens" id="showmenu">Back to Listing</a>
    </form>

</div><br /><br />
