<div id="show">
    <h3 id="log"><%= "Model: '#{@len.model}'" %></h3><br />
    <p><%= "Make: #{@len.make}" %></p>
    <p><%= "Focal Range: #{@len.focal_range}" %></p><br />
    <p><%= "Minimum Aperture: #{@len.min_aperture}mm" %></p>
    <p><%= "Maximum Aperture: #{@len.max_aperture}mm" %></p>
</div><br /><br />
