<div id="show">
    <h3 id="log"><%= "Model: #{@len.model}" %></h3><br />
    <p><%= "Make: #{@len.make}" %></p>
    <p><%= "Focal Range: #{@len.focal_range}" %></p><br />
    <p><%= "Minimum Aperture: F/#{@len.min_aperture}" %></p>
    <p><%= "Maximum Aperture: F/#{@len.max_aperture}" %></p>
</div><br /><br />
