<div id="show">
    <h3 id="log"><%= "Model: #{@len.model}" %></h3><br />
    <p><%= "Make: #{@len.make}" %></p>
    <p><%= "Focal Range: #{@len.focal_range}" %></p><br />
    <p><%= "Minimum Aperture: F/#{@len.min_aperture}" %></p>
    <p><%= "Maximum Aperture: F/#{@len.max_aperture}" %></p>
    <a href="/lens/<%= @len.id %>/edit" id="showmenu">Edit Lens</a>
    <a href="/lens/<%= @len.id %>/delete" id="showmenu">Delete Lens</a>
    <a href="/lens" id="showmenu">Back to Listing</a>
</div><br /><br />
