<h3>Main Menu</h3><span></span>
<div id="show">
    <h3 id="log">Cameras</h3><br />
    <% @user.cameras.each do |camera| %>
        <a href="/cameras/<%= camera.id %>"><h3><%= camera.make %><%= " #{camera.model}" %></h3> </a><span></span><br />
    <% end %>
</div><br /><br />

<div id="show">
    <h3 id="log">Lenses</h3><br />
    <% @user.lens.each do |len| %>
        <a href="/lens/<%= len.id %>"><h3><%= len.make %><%= " #{len.model}" %></h3> </a><span></span><br />
    <% end %>
</div><br /><br />

<div id="show">
    <h3 id="log">Rolls</h3><br />
    <% @user.rolls.each do |roll| %>
        <a href="/rolls/<%= roll.id %>"><h3><%= roll.brand %><%= " - #{roll.exp_count} exposures left" %></h3> </a><span></span><br />
    <% end %>
</div><br /><br />

<div id="show">
    <h3 id="log">Photos</h3><br />
    <% @user.photos.each do |photo| %>
        <a href="/photos/<%= photo.id %>"><h3><%= photo.name %><%= " - #{photo.rating} star rating" %></h3> </a><span></span><br />
    <% end %>
</div><br /><br />
