<div id="newform">
    <% if @errors %>
        <p id="error">Error/s when adding photo:</p>
        <% @errors.each do |error| %>
            <p id="error"><%= error %></p>
        <%end%><br />
    <% end %>
    <form action="/photos" method="post">
        
        <label id="newtitle">Add a New Photo</label><br /><br />
        <input type="hidden" name="photo[user_id]" value="<%= current_user.id %>">

        <div id="selectcam">
            <p>Select Rating:</p>
            <label for="1">1</label>
            <input type="radio" id="1" name="photo[rating]" value="1" checked>

            <label for="2">2</label>
            <input type="radio" id="2" name="photo[rating]" value="2">

            <label for="3">3</label>
            <input type="radio" id="3" name="photo[rating]" value="3">

            <label for="4">4</label>
            <input type="radio" id="4" name="photo[rating]" value="4">
            
            <label for="5">5</label>
            <input type="radio" id="5" name="photo[rating]" value="5">
        </div><br /><br ?>

        <label for="newformlabel">Name:</label>
        <input id="newformlabel" type="text" name="photo[name]"><br /><br />

        <label for="newformlabel">Description:</label>
        <textarea id="newformlabel" type="text" name="photo[description]" rows="8" cols="50">
        
        </textarea><br /><br />

        <label for="newformlabel">Shutter Speed:</label>
        <input id="newformlabel" type="text" name="photo[shutter]"><br /><br />

        <label for="newformlabel">Aperture:</label>
        <input id="newformlabel" type="text" name="photo[aperture]"><br /><br />

        <label for="newformlabel">Focal Length:</label>
        <input id="newformlabel" type="text" name="photo[focal_length]"><br /><br />

        <label for="newformlabel">Date:</label>
        <input id="newformlabel" type="text" name="photo[date]"><br /><br />

        <label for="newformlabel">Time:</label>
        <input id="newformlabel" type="text" name="photo[time]"><br /><br />

        <label for="newformlabel">Location:</label>
        <input id="newformlabel" type="text" name="photo[location]"><br /><br />


        <div id="selectcam">
            <p>Select Camera Shot With (only loaded cameras shown):</p>
        </div>

        <% if @cameras  == [] || @cameras == nil %>
            <p>No loaded cameras to show, please load or add a new one.</p>
        <% else %>
            <% @cameras.each do |camera| %>
                <div id="radio">
                    <input type="radio" name="photo[camera_id]" id="<%= camera.id %>" value="<%= camera.id %>"><%= " #{camera.make} / Model: #{camera.model}"%><br>
                </div>
            <% end %><br>
        <% end %>

        <div id="selectcam">
            <p>Select Roll Used (only showing rolls with available exposures):</p>
        </div>

        <% if @rolls  == [] || @rolls == nil %>
            <p>No unloaded rolls to show, please unload or add a new one.</p>
        <% else %>
            <% @rolls.each do |roll| %>
                <div id="radio">
                    <input type="radio" name="photo[roll_id]" id="<%= roll.id %>" value="<%= roll.id %>"><%= " #{roll.brand} / Comments: #{roll.comments}"%><br>
                </div>
            <% end %><br>
        <% end %>

        <div id="selectcam">
            <p>Select Lens Shot With:</p>
        </div>
        <% current_user.lens.all.each do |len| %>
            <div id="radio">
                <input type="radio" name="photo[len_id]" id="<%= len.id %>" value="<%= len.id %>"><%= " #{len.make} / Model: #{len.model} (belongs to: #{len.camera.make}/#{len.camera.model})"%><br>
            </div>
        <% end %><br>
        
        <div id="selectcam">
            <input id="logsign" type="submit" value="Add Photo"><br /><br />
            <a href="/photos/index" id="showmenu">Back to Photos</a>
        </div>
    </form>
</div>
