<div id="show">
    <h3 id="log"><%= "Photo name: '#{@photo.name}'" %></h3><br />
    <p><%= "Rating: #{@photo.rating} stars" %></p>

    <div id="description">
    <p><%= "Description: #{@photo.description}" %></p><br /><br />
    </div>
    <p><%= "Shutter Speed(sec/s): #{@photo.shutter}" %></p>
    <p><%= "Aperture(f): #{@photo.aperture}" %></p>
    <p><%= "Focal length(mm): #{@photo.focal_length}" %></p>
    <p><%= "Date and time taken: #{@photo.date}, #{@photo.time}" %></p>
    <p><%= "Location: #{@photo.location}" %></p><br /><br />
    <p><%= created_date_time(@photo)[0] %></p>
    <p><%= updated_date_time(@photo) %></p><br /><br />
    
    <form id="showmenu" method="POST" action="/photos/<%= @photo.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a href="/photos/<%= @photo.id %>/edit" id="showmenu">Edit Photo</a>
        <input id="delsubmit" type="submit" onclick="return confirm('Are you sure you want to delete this photo?');" value="Delete Photo">
        <a href="/photos" id="showmenu">Back to Listing</a>
    </form>

</div><br /><br />
