<div id="show">
    <%if flash[:message] %>
    <p><%= flash[:message] %></p>
    <% end %>
    <h3 id="log">Rolls</h3><br />
    <% @rolls.each do |roll| %>
        <a id="showmenu" href="/rolls/<%= roll.id %>"><%= roll.brand %><%= " --- #{roll.exp_count} exposures left - #{created_date_time(roll)[0]}" %></a><br /><br />
    <% end %><br /><br />
    <a href="/users/<%=current_user.id%>" id="showmenu">Home</a>
    <a href="/rolls/new" id="new">Add a New Film Roll</a>
</div><br /><br />
