<div id="show">
    <h3 id="log"><%= "Brand: '#{@roll.brand}'" %></h3><br />
    <p><%= "Comments: #{@roll.comments}" %></p>
    <p><%= "ISO: #{@roll.iso}" %></p><br />
    <p><%= "Exposures remaining: #{@roll.exp_count}" %></p><br /><br />
    <p><%= created_date_time(@roll)[0] %></p>
    <p><%= updated_date_time(@roll) %></p><br /><br />
    
    <form id="showmenu" method="POST" action="/rolls/<%= @roll.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a href="/rolls/<%= @roll.id %>/edit" id="showmenu">Edit Roll</a>
        <input id="delsubmit" type="submit" value="Delete Roll">
        <a href="/rolls" id="showmenu">Back to Listing</a>
    </form>

</div><br /><br />
